@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:500');
@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'Roboto', sans-serif;
}

a {
    i {
        color: #A8A8A8;
    }
}

li {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

h4 {
    font-family: 'Nunito', sans-serif;
}



#landing {
    margin: 0px;
    padding: 0px; 
    height: 100vh;
    width: 98.8vw;
    font-family: 'Lato', sans-serif;
    background-image: url(/images/charles-456501-unsplash.jpg);
    background-attachment: fixed center;
    background-size: cover;
}

@media (max-width: 478px) {
    .textHeader {
        font-size: 18px
    }
}


    