@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:500');


body {
    font-family: 'Roboto', sans-serif;
}



#landing {
    position: relative;
    z-index: 1;
    padding-top: 10vh;
    padding-bottom: 7vh;
    font-family: 'Lato', sans-serif;
}

#slideshow {
    z-index: 0;
    position: absolute ;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.carousel {
    height: 87.4vh;
    width: 100%;

    .carousel-inner {
        height:100%;    
    }
}

@media (max-width: 575.98px) { 
    #landing {
        padding-top: 3vh;
        padding-bottom: 9vh;
    }
 }

@media (max-width: 767.98px) { 
    #landing {
        padding-top: 9vh;
        padding-bottom: 10vh;
    }
 }
 @media (min-width: 992px) and (max-width: 1199.98px) { 
    #landing {
        padding-top: 12vh;
        padding-bottom: 12vh;
    }
  }

@media (min-width: 1280px){
    #landing {
        padding-top: 38vh;
        padding-bottom: 18vh;
    }
}

 @media (min-width: 1300px) {
    #landing {
        padding-top: 33vh;
        padding-bottom: 30vh;
    }
  }
// @media (max-width: 1199.98px) { ... }