<% include partials/header %>
<section id="landing">
    <div class="container-fluid text-white text-center justify-content-center align-content-center">
        <div class="row">
            <div class="col-4 d-none d-md-block">
                <img width="150px" height="150px" src="/images/analysis.svg" alt="">
            </div>
            <div class="col-12 col-md-4">
                <h3 class="">Cristian Romero</h3>
                <h2 class="">Full-Stack Web Developer</h2>
                <i class="fa fa-quote-left d-none d-md-block" aria-hidden="true"></i>
                <blockquote class="blockquote d-none d-md-block">
                    "If you spend too much time thinking about a thing, you'll never get it done."
                    <div class="blockquote-footer">
                        Bruce Lee
                    </div>
                </blockquote>
                <div class="row mt-4">
                    <div class="col-12">
                        <i class="fab fa-github-square fa-2x mx-3"></i>
                        <i class="fab fa-linkedin fa-2x mx-3"></i>
                        <i class="fab fa-free-code-camp fa-2x mx-3"></i>
                    </div>
                </div>
            </div>
            <div class="col-4 d-none d-md-block">
                <img width="150px" height="150px" src="/images/coding.svg" alt="">
            </div>
        </div>

    </div>
</section>

<section id="slideshow">
    <div id="carouselId" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="/images/charles-456501-unsplash.jpg" class="d-block w-100" alt="First slide">
            </div>
            <div class="carousel-item">
                <img src="/images/florian-olivo-1169466-unsplash.jpg" class="d-block w-100" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img src="/images/sai-kiran-anagani-61187-unsplash.jpg" class="d-block w-100" alt="Third slide">
            </div>
        </div>
    </div>
</section>

<nav class="navbar position-sticky sticky-top navbar-expand navbar-light bg-light" id="navbar-sticky">
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="nav nav-pills mx-auto mt-2 mt-lg-0 d-flex align-items-center">
            <li class="nav-item ">
                <a class="nav-link active p-1 p-sm-2" href="#">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link p-1 p-sm-2" href="#">About</a>
            </li>
            <li class="nav-item mx-3 ">
                <img width="70px" src="/images/administrator.svg" alt="">
            </li>
            <li class="nav-item ">
                <a class="nav-link p-1 p-sm-2" href="#">Projects</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link active p-1 p-sm-2" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>


<section>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere neque fuga velit ad dolores ex officiis modi
        possimus natus facilis nihil suscipit dolore itaque dolor quisquam provident, dicta quas ratione, sed rem
        dignissimos dolorum, ducimus nostrum ea. Molestias voluptates optio vitae veniam suscipit ipsam perspiciatis
        facilis laboriosam sequi, at adipisci repudiandae aspernatur. Delectus expedita molestias praesentium et
        eveniet quae fugit alias minima nam harum, corporis exercitationem laudantium quod ipsum neque non voluptatibus
        omnis ratione error nihil, ipsam facere animi voluptate! Possimus maiores nihil consequuntur tenetur magni, a
        dicta dolores similique ipsam accusamus sed consequatur aperiam delectus deleniti cum, ducimus, incidunt fugit.
        Et vero ab ipsum quidem a amet veritatis libero accusantium. Quia reiciendis, explicabo, totam qui alias
        corrupti quae ipsum iure fuga fugiat praesentium est reprehenderit voluptates doloribus consectetur
        voluptatibus ullam minus porro! Molestiae eaque eius deleniti blanditiis dicta sunt voluptates, praesentium
        placeat delectus, soluta, repudiandae vitae consectetur incidunt earum qui! Tenetur, porro. Delectus totam quae
        doloremque inventore laboriosam consequuntur autem itaque ipsa mollitia veritatis, laborum, sequi nobis illo
        exercitationem animi aliquam. Quisquam aliquid nemo sapiente hic eum? Corporis incidunt aliquid velit sapiente,
        error quisquam consectetur veniam odit soluta, ut magni accusantium. Doloremque laborum ea eaque reprehenderit
        hic mollitia? Officia, corporis repellat ipsam consequuntur illum, expedita non praesentium est exercitationem
        molestias sint veritatis adipisci eveniet nemo eaque, excepturi et facilis suscipit dolore perspiciatis! Quos,
        recusandae ipsa enim ea illo sunt odio expedita? Iusto nobis adipisci totam expedita eum quia earum, fuga
        dolores soluta quidem, repellat ex minus quos quo dolor doloremque sapiente aut, reprehenderit ullam sequi
        repellendus animi vel. Ex nobis minus odio voluptate cumque qui quidem incidunt assumenda? Nihil placeat rerum
        corporis quidem iure ab deleniti unde a eveniet illo possimus aut consequatur optio perferendis voluptas
        doloribus, quas quaerat voluptates ipsum aspernatur architecto, voluptate tempore aliquid. Ab nihil reiciendis
        fuga totam illum, necessitatibus quas nobis quo labore quam itaque sapiente perferendis quibusdam iusto sint,
        dolor beatae nisi esse sed officiis dolorem velit. In, beatae reiciendis culpa praesentium quam ratione quia ex
        rem, assumenda nulla, iusto vitae optio? Corrupti est exercitationem atque rem sint optio a minus! Hic ratione
        ea ex architecto dolores. Impedit officiis beatae dolor aperiam enim explicabo aliquid deleniti temporibus
        quasi reiciendis voluptatum expedita porro soluta non, ab placeat quaerat! Accusantium corporis veritatis
        excepturi aliquid error sed minima neque dolorem dolorum accusamus? Corrupti nam sequi odio cum accusamus
        obcaecati corporis veritatis alias maiores enim aliquam beatae iure impedit fugit, asperiores harum libero ea
        magni maxime aspernatur cupiditate quod officia id rem. Ut commodi velit, repellat fugit deserunt tempore
        adipisci vitae officiis quos voluptate doloribus reiciendis quis, corporis autem cupiditate. Rem natus debitis
        sapiente, alias sed praesentium repudiandae, consequatur eveniet quos, itaque tenetur! Quia nesciunt accusamus
        consequuntur dolore veniam facere, quo, est consectetur voluptate, laboriosam totam. Quae dolore corrupti
        nesciunt porro beatae, cupiditate aliquam? Quos cum enim quasi nemo quod sit fugit aliquam, veritatis
        recusandae ducimus harum asperiores adipisci quisquam itaque alias dignissimos quidem porro sunt corporis,
        mollitia provident blanditiis. Dolor, beatae enim aut cupiditate suscipit officiis expedita in. At hic
        voluptates nostrum nihil modi minima quisquam, veniam ab voluptas praesentium dolorum esse quaerat eveniet id
        alias quibusdam quo autem aliquid dolor iste nulla molestias corporis ullam nam. Nostrum, rerum error adipisci
        commodi rem maxime expedita assumenda praesentium quos in. Omnis excepturi quos odit tempora quibusdam a porro
        quam tenetur, hic facilis labore vel voluptatibus error veritatis provident deleniti? Iure, doloribus, sit
        consequatur nesciunt itaque quia id eaque tempora voluptatum, inventore officiis excepturi sapiente dolores.
        Debitis, aperiam natus rem voluptatum sit aliquam minus culpa accusantium non inventore obcaecati optio,
        officiis nemo neque voluptatem a, unde vel iste! Fuga consequatur aliquam, debitis inventore deleniti autem
        doloremque dicta cum odio, blanditiis tenetur, distinctio at beatae quo. Incidunt quam voluptates nemo fuga.
        Facere velit ipsa ipsam explicabo, soluta doloribus odit eveniet quis est veniam voluptate dicta assumenda
        tempora repudiandae eligendi nemo earum modi, incidunt labore maiores. Itaque quae nulla, perferendis numquam
        error assumenda hic. Commodi rerum quae quos harum fugit culpa unde mollitia ipsa fugiat soluta consequuntur
        recusandae ipsam perferendis architecto, et aut nam excepturi sapiente tempore atque, dicta numquam, cum porro.
        Soluta, eum ipsum atque quae impedit, temporibus enim sed illo laudantium voluptatibus a itaque. Ipsa laborum,
        quia facilis quibusdam magnam enim quas, aperiam assumenda, aspernatur fugit vitae nemo reprehenderit
        voluptatum. Velit temporibus dolor veritatis ad consequuntur tenetur animi voluptas perferendis totam, incidunt
        accusantium non optio voluptate alias, exercitationem quo veniam minus voluptatum eveniet corrupti quaerat
        itaque sunt reprehenderit qui! Ullam tempore praesentium eum molestiae atque nostrum unde et quasi. Aspernatur
        accusantium qui impedit odio minima eius nihil ipsa exercitationem rem reiciendis explicabo laboriosam
        voluptatem, fugiat porro fugit non quis animi eligendi molestias consequatur ratione nemo maiores. Aliquid
        quam, rerum ipsa ipsam expedita doloribus veritatis consectetur illum repellendus sint dolor consequuntur
        tenetur, vitae ullam reprehenderit, sunt at delectus possimus. Non corporis veritatis vitae laboriosam quos
        quo, ducimus, voluptatibus explicabo qui pariatur aliquam iusto minima repudiandae sit eum impedit mollitia
        eos, expedita esse harum minus est doloribus a debitis. Accusantium dolor, nostrum perspiciatis ipsa deleniti
        inventore? Deleniti rem ut aspernatur et vero. Necessitatibus ullam praesentium tempore soluta nihil quo ipsa,
        qui fuga excepturi blanditiis iusto, dignissimos saepe inventore alias, impedit consectetur deleniti nostrum
        perferendis in repellat. Omnis commodi libero odio dolore cumque eaque architecto dignissimos at neque. Sit
        molestias minima expedita voluptatem architecto ea quasi, aliquid assumenda alias consectetur ipsa sunt quia
        suscipit quaerat vitae sapiente eos. Beatae eligendi porro deleniti! Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Minus pariatur ab tenetur non voluptatem necessitatibus fugiat excepturi modi nobis, quod,
        aliquid recusandae esse asperiores? Aliquam debitis architecto maxime minus nesciunt velit, tenetur quisquam
        fuga unde qui suscipit, eligendi minima exercitationem? Fuga aliquam sapiente facilis excepturi in, numquam
        voluptate voluptas, magni impedit earum rem quas doloribus, unde adipisci iusto. Ad debitis vel cumque harum
        iste sequi temporibus beatae voluptatem, perspiciatis sint. Veritatis porro illum iusto totam doloremque eum
        illo quidem hic possimus itaque labore soluta molestias quos odio, ullam magnam ut officia vel sed?
        Perspiciatis doloremque eum veniam. Minus unde voluptatem nobis, quam aspernatur sapiente tempora maxime harum
        labore, architecto esse eaque quibusdam necessitatibus non rem, commodi corrupti culpa doloribus iste.
        Distinctio inventore quod, consequatur suscipit dolorem, error fuga architecto ex sapiente asperiores sunt
        ducimus sed et illo esse eos, beatae culpa doloremque hic similique fugit nisi. Quo alias rerum, dignissimos
        perferendis adipisci architecto consequatur magnam libero assumenda aspernatur molestiae veritatis dolores
        natus consectetur ab debitis possimus ipsam praesentium nobis illo fuga laboriosam similique eum in? Atque,
        necessitatibus tenetur quas saepe cumque repellat voluptatem fuga laborum quae consectetur perspiciatis
        laudantium explicabo eaque alias est beatae numquam eligendi nihil dolorum ipsam eveniet rerum. Quos est
        nesciunt quia quidem dolore. Rerum ratione laudantium rem, incidunt quo magni corrupti ullam omnis iure illum
        eaque delectus cumque nemo repudiandae reprehenderit minima aliquid accusantium nesciunt odio cupiditate.
        Consectetur natus, magni, esse saepe accusamus odit nulla praesentium quis velit consequuntur ducimus quibusdam
        maxime alias! Ea, molestias molestiae. Vero qui, aspernatur tempore adipisci explicabo molestiae, vel, unde
        similique hic voluptatem reprehenderit harum eveniet ducimus consequatur. Dolore excepturi error quo accusamus
        fugit nostrum doloremque hic consequatur dolorem repellendus laudantium quae sint, explicabo provident quaerat,
        natus fuga illum est neque! Iure inventore beatae quasi distinctio possimus deleniti maxime dolore dolor fuga
        aperiam modi qui, minima suscipit odio rem architecto. Maiores sunt tenetur sed perspiciatis facere atque
        officia, nesciunt ab earum maxime consequatur. Id incidunt ipsam inventore aperiam, quisquam animi deserunt
        tenetur perferendis numquam nisi eum fugit ut? Tenetur culpa fugiat dolorum repudiandae consequuntur quod eum
        quia, mollitia quibusdam facere quae quam laborum a. Soluta mollitia illum, sunt expedita corporis fuga
        consequatur, quis tenetur modi velit fugiat, eos voluptatem neque laudantium! Perferendis, minima, praesentium
        ullam maiores id est commodi, incidunt iure asperiores ab fugit eum molestiae sunt dolorum sapiente officiis.
        Dolorum id repudiandae tenetur? Quo impedit nobis esse, voluptatibus mollitia fugiat nostrum blanditiis
        cupiditate rerum quos sint, consequatur natus aperiam voluptate voluptates accusamus cum fuga distinctio
        facilis incidunt laboriosam. Culpa quisquam dolorum ipsa. Illum ea laboriosam consequuntur ipsum hic architecto
        nemo est inventore tempore qui commodi aliquam animi corporis repellendus autem, sed, delectus consequatur
        quisquam quo aperiam libero! Saepe magnam, nam nostrum doloribus maiores debitis illum possimus consequuntur
        dolorem officiis non itaque ut perspiciatis ea distinctio odio beatae ipsum aliquid rem recusandae excepturi!
        Impedit veniam et suscipit tempore atque dignissimos dicta delectus officiis, eaque iure illum. Quos, porro
        nulla odit voluptate consequuntur aliquam culpa sint fugiat praesentium harum repudiandae, illum deleniti.</p>
</section>

<% include partials/footer %>